<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="Localization">
			<section name="Localization" type="Localization.LocalizationConfigurationHandler, Localization"/>
		</sectionGroup>
	</configSections>
	<connectionStrings>
  <add name="DGSDATAConnectionString" connectionString="Data Source=192.168.17.8;Initial Catalog=DGSDATA;Persist Security Info=True;User ID=dgsAgents;Password=p6@vdDupgsN#mM7%MQYF;Timeout=120;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="TeamLogosConnectionString" connectionString="Data Source=192.168.17.8;Initial Catalog=TeamLogos;Persist Security Info=True;User ID=dgsAgents;Password=p6@vdDupgsN#mM7%MQYF;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
  <add name="DGS_AddOnsConnectionString" connectionString="Data Source=192.168.17.8;Initial Catalog=DGS_AddOns;Persist Security Info=True;User ID=dgsAgents;Password=p6@vdDupgsN#mM7%MQYF;Encrypt=False;TrustServerCertificate=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.runtime.remoting>
		<application>
			
				
			<client name="DGSremoting">
				<wellknown type="DGSinterface.IAgentFactory, DGSinterface" url="tcp://localhost:8100/DGSremoting/Agent.rem"/>
				<wellknown type="DGSinterface.IWagerFactory, DGSinterface" url="tcp://localhost:8100/DGSremoting/Wager.rem"/>
			</client>
			<channels>
				<channel ref="tcp" port="0">
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</serverProviders>
					<clientProviders>
						<formatter ref="binary"/>
					</clientProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<!--WeeklyBalancesEnhanced-->
		<add key="WeeklyBalancesEnhanced" value="Player,Name,Password,AmountAtRisk,CreditLimit"/>
		<!--App_Theme Name-->
		<add key="ThemeName" value="Classic"/>
		<!--LogOut page URL-->
		<add key="LogOutPage" value="Logout.aspx"/>
		<!--distributor heredate the rights over SubAgents-->
		<add key="DistRight" value="true"/>
		<!--History Specific Week,0=false, !=0 = Num of weeks-->
		<add key="HistSpcWeek" value="0"/>
		<!--Login Error-->
		<add key="ErrorLoginCO" value="Configuration Error. Contact Customer Services."/>
		<add key="ErrorLoginRT" value="Error conection to Remoting Server. Contact Customer Services."/>
		<!-- Page Error-->
		<add key="ErrorMsg" value="An Error Has Ocurr."/>
		<!-- Page Schedule Error -->
		<add key="ErrorSchedule" value="An Error Has Ocurr Load the Schedule."/>
		<!-- Player Edit Change the name at the same as password 
         field when update the player accound. Value = 'Yes' or 'No'-->
		<add key="NamePass" value="No"/>
		<!-- Error Update player -->
		<add key="PassMaxChact" value="Maximum Password lenght (20)characters."/>
		<add key="OnlinePassMaxChact" value="Maximum Password Online lenght (20)characters."/>
		<add key="mDCL" value="Not Allow to Decrement the Credit Limit."/>
		<add key="mICL" value="Not Allow to Increment the Credit Limit."/>
		<add key="mDWL" value="Not Allow to Decrement the Maximun and Minimun Wager."/>
		<add key="mIWL" value="Not Allow to Increment the Maximun and Minimun Wager."/>
		<add key="mDWO" value="Not allow to Decrement the Online Maximun and Minimun Wager."/>
		<add key="mIWO" value="Not allow to Increment the Online Maximun and Minimun Wager."/>
		<add key="mSF" value="Settled Figure value is incorrect. (Rank value: 1 to 100)"/>
		<add key="mDate" value="Expire date is incorrect."/>
		<add key="mErrUpdatePlayer" value="Error Make the Player Information Update."/>
		<add key="mUpdatePlayer" value="Player Information Updated."/>
		<!-- Menu Agent -->
		<add key="NodeIndent" value="7"/>
		<add key="MenuWidth" value="200"/>
		<!--Value "True", to display agent Current Balances, Value "False" to not display-->
		<add key="WithBalance" value="True"/>
		<!-- Show Agent League -->
		<add key="NoLeague" value="No has any League Assign."/>
		<!-- Check AgentLogin multiSessions. Value "True" or "False" -->
		<add key="CheckSession" value="true"/>
		<!-- Sport list for the Line Type Selection in Move Lines Report -->
		<add key="SportsSelection" value="CssSportSelection"/>
		<!-- Show the Error from the message (False) or the standar error "ErrorMsg" (True) -->
		<add key="ShowErrorStandar" value="True"/>
		<!--Font Color Disable and Enable-->
		<add key="FontColorDis" value="#CCCCCC"/>
		<add key="FontColorEna" value="#000000"/>
		<!--Error Display on Agent Player Message-->
		<add key="MessBoxEmpty" value="Message cant be empty"/>
		<add key="PListEmpty" value="Select a Player to insert the message"/>
		<!--Null Value to back to the Original Line-->
		<add key="NullValueOL" value="*"/>
		<!--Incorrect Move line Values-->
		<add key="ErrorMLV" value="Some incorrect values are not include into the lines changed"/>
		<!--No Reset Line Message-->
		<add key="NoResetLine" value="Game already have wagers at the agent line, can't be reset."/>
		<!--Allow Agent With Negative Current Balance to send transfers, True or False-->
		<add key="NegativeBalanceXFER" value="False"/>
		<!--Error create Agent Transfer-->
		<add key="ErrorXFER" value="Error create Agent Transfer."/>
		<!--Player History display from Newest to Oldest. True/False-->
		<add key="PlayerHistoryNO" value="True"/>
		<!--Number of Transaction to display in the Open Bets per Pages, minimun number:15-->
		<add key="OpenBetsRecord" value="15"/>
		<!--Player Payment Transaction Accepted-->
		<add key="TransAccepted" value="Transaction Accepted."/>
		<!--Player FreePlay Denied-->
		<add key="FreePlayDenied" value="Weekly free play max reached."/>
		<add key="aspnet:MaxHttpCollectionKeys" value="30000"/>
		<!--RESTRICTIC AGENT BY IDBOOK, Is Empty allow agents for any book; separate by (,) is more that one idbook-->
		<add key="RestrictedByBook" value=""/>
		<add key="BookNotAccess" value="Agent not exists."/>
		<!--EnforcesPassRules-->
		<add key="EnforcesPassRules" value="false"/>
		<!--Money Format Display-->
		<add key="MoneyFormatDisplay" value="###,##0.00"/>
		<!--CreatePlayer Use only BookDefault Data-->
		<add key="UseOnlyDefaultData" value="false"/>
		<add key="apiURL" value="https://live.viggames.com/ws/gsl4.php"/>
		<add key="ViGuser" value="livedealer"/>
		<add key="Currency" value="USD"/>
		<add key="SecretKey" value="6b7879knYQJvY84rFLqFPTqfEVGZ48Fn"/>
		<add key="VigSiteID" value="ticosports"/>
	</appSettings>
	
	<system.web>
		<httpRuntime maxRequestLength="512000" executionTimeout="3600" targetFramework="4.8.1" />
		<machineKey validationKey="B50B12C715F10D3AB58F3C715D7FA4BE07EC8F68A189599354513E8A5BA71A0794EDDF14EEFFA58270B8D7F88594C2458C0DA6C3D4F735A338DC1617230826A6"
     decryptionKey="A8D37314792557F319F9D3D2DA7A3A1A9C7CD04B0B26860517FEDE9B0B9C7FAF"
     validation="SHA1" decryption="AES" />
		<customErrors mode="Off" />
		<pages theme="Classic" styleSheetTheme="Classic" pageBaseType="AgentSite4.BasePage"
      enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false"
      controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
		<compilation debug="true" targetFramework="4.8.1">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Runtime.Remoting, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<sessionState mode="InProc" cookieless="false" timeout="1440" />
		<authentication mode="None" />
	</system.web>
	<Localization>
		<Localization defaultCulture="en-US" imagePath="/Localized/images" providerName="XmlLocalizationProvider">
			<Provider>
				<add name="XmlLocalizationProvider" type="Localization.ResourceManagerXml, Localization" languageFilePath="localized\language"/>
				<add name="SqlLocalizationProvider" type="Localization.ResourceManagerSql, Localization" connectionString="Data Source=(local);Initial Catalog=DATABASE;User Id=ACCOUNT;Password=PASSWORD" cacheDuration="20"/>
			</Provider>
		</Localization>
	</Localization>
	<location path="Games" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
			<customErrors mode="Off"/>
		</system.web>
	</location>
	<location path="Casino" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="DGSProxy" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="DGSAddOns" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="OnlineBetting" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="Agents" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="General" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="Private" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="Default" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
	<location path="Mobile" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page"/>
		</system.web>
	</location>
 <system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<defaultDocument>
			<files>
				<clear />
				<add value="default.aspx" />
			</files>
		</defaultDocument>

		<staticContent>
			<remove fileExtension=".woff2" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
		</staticContent>

		<modules runAllManagedModulesForAllRequests="true">
			<add name="Localization" type="Localization.LocalizationHttpModule, Localization" />

			<remove name="ScriptModule-4.0" />
			<add name="ScriptModule-4.0"
     type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
     preCondition="managedHandler" />

		</modules>


	</system.webServer>
	<location path="AddOns" allowOverride="true">
		<system.web>
			<httpModules>
				<remove name="Localization"/>
			</httpModules>
			<pages theme="" styleSheetTheme="" pageBaseType="System.Web.UI.Page" enableEventValidation="false" viewStateEncryptionMode="Never" enableViewStateMac="false"/>
		</system.web>
	</location>
</configuration>