<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="AgentLines.master.cs" Inherits="AgentSite4.Master.AgentLines" %>

<!DOCTYPE html>

<html>
<head runat="server">
   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>Admin</title>

    <link rel="icon" type="image/x-icon" href="/src/assets/img/favicon.svg" />
    <link href="/layouts/vertical-light-menu/css/light/loader.css" rel="stylesheet" type="text/css" />
    <link href="/layouts/vertical-light-menu/css/dark/loader.css" rel="stylesheet" type="text/css" />
    <script src="/layouts/vertical-light-menu/loader.js?v=123"></script>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="/layouts/vertical-light-menu/css/light/plugins.css?v=124" rel="stylesheet" type="text/css" />
    <link href="/layouts/vertical-light-menu/css/dark/plugins.css?v=124" rel="stylesheet" type="text/css" />
    <link href="/src/fontawesome/css/fontawesome.css?v=123" rel="stylesheet">
    <link href="/src/fontawesome/css/all.css?v=123" rel="stylesheet">
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="/src/plugins/src/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="/src/assets/css/light/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <link href="/src/assets/css/dark/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

    <link href="/src/plugins/src/flatpickr/flatpickr.css" rel="stylesheet" type="text/css">
    <link href="/src/plugins/src/noUiSlider/nouislider.min.css" rel="stylesheet" type="text/css"> 
    <link href="/src/assets/css/dark/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/src/plugins/css/dark/flatpickr/custom-flatpickr.css" rel="stylesheet" type="text/css">

     <link rel="stylesheet" type="text/css" href="/src/plugins/src/tomSelect/tom-select.default.min.css">
    <link rel="stylesheet" type="text/css" href="/src/plugins/css/light/tomSelect/custom-tomSelect.css">
    <link rel="stylesheet" type="text/css" href="/src/plugins/css/dark/tomSelect/custom-tomSelect.css">
   
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <style>
        #loading {
            background: url(/src/assets/img/sports.gif) rgba(0,0,0,.815) no-repeat center center;
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 1999;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px)
        }
    </style>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
     <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
   
    <script src="/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="/src/plugins/src/waves/waves.min.js"></script>
    <script src="/layouts/vertical-light-menu/app.js"></script>
    <script src="/src/plugins/src/highlight/highlight.pack.js"></script>
    <!-- END GLOBAL MANDATORY SCRIPTS -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="/src/plugins/src/apex/apexcharts.min.js"></script>
    <script src="/src/assets/js/dashboard/dash_1.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

       
    <script src="/src/plugins/src/flatpickr/flatpickr.js"></script>
    <script src="/src/plugins/src/flatpickr/custom-flatpickr.js"></script>

          <script src="/src/assets/js/scrollspyNav.js"></script>
    <script src="/src/plugins/src/tomSelect/tom-select.base.js"></script>
    <script src="/src/plugins/src/tomSelect/custom-tom-select.js"></script>

    <script type="text/javascript">
        window.onbeforeunload = showMainLoading;
        window.onunload = showMainLoading;

        function showMainLoading() {
            window.scrollTo(0, 0);
            $("#loading").css("display", "block");
            $("body").attr("style", "overflow-y: hidden !important;");
        }

        $(document).ready(function () {
            notifyHideLoader();

            var datepickerElements = document.querySelectorAll('.datepicker');
            if (datepickerElements.length > 0) {
                datepickerElements.forEach(function (datepicker) {
                    flatpickr(datepicker, {
                        enableTime: false,
                        dateFormat: "m-d-Y",
                    });
                });
            }

            var tomSelectElements = document.querySelectorAll(".tomlist");
            if (tomSelectElements.length > 0) {
                tomSelectElements.forEach(function (element) {
                    new TomSelect(element, {
                        create: true,
                        sortField: {
                            field: "text",
                            direction: "asc"
                        }
                    });
                });
            }
        });







        var AJAX_LOADING_COUNTER = 0;

        const notifyShowLoader = () => {
            window.scrollTo(0, 0);
            AJAX_LOADING_COUNTER++;

            var loading = window.parent.document.getElementById('loading');
            $(loading).show();

            $('body').attr('style', 'overflow-y: hidden !important;');
            $('.card.card-page-responsive .card-body').attr('style', 'display: none !important;');
        };

        const notifyHideLoader = () => {
            if (AJAX_LOADING_COUNTER > 0) {
                AJAX_LOADING_COUNTER--;
            }

            if (AJAX_LOADING_COUNTER <= 0) {
                AJAX_LOADING_COUNTER = 0;
                $('body').attr('style', 'overflow-y: auto !important;');
                $('.card.card-page-responsive .card-body').attr('style', 'display: block !important;');

                var loading = window.parent.document.getElementById('loading');
                $(loading).hide();
            }
        };


        const resetAjaxLoadingCounter = () => AJAX_LOADING_COUNTER = 0;

        const isAjaxLoading = () => AJAX_LOADING_COUNTER > 0;


        $(function () {
            // Disables datatable error dialog.
            if ($.fn.dataTable) {
                $.fn.dataTable.ext.errMode = 'none';
            }

            var isFirstLoading = false;

            $.ajaxSetup({
                global: true,
                beforeSend: (xhr, settings) => {
                    //notifyHideLoader();
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        const csrf_token = $('input[name="__RequestVerificationToken"]').val();
                        xhr.setRequestHeader("anti-csrf-token", csrf_token);
                    }
                }
            });

            $(document).ajaxSend((event, jqxhr, settings) => {
                let executeLoader = true;
                if (settings.headers != undefined && settings.headers.trytoping != 'undefined') {
                    executeLoader = false;
                }
                if (isFirstLoading && executeLoader) {
                    notifyShowLoader();
                }
            });

            // Captures global ajax error responses and display a toast with the related error.
            $(document).ajaxComplete((event, xhr, ajaxOptions, thrownError) => {
                if (!document.cookie)
                    $('.md-toast-top-right').hide();

                isFirstLoading = false;

                let responseJson = xhr.responseJSON;

                if (responseJson == undefined) {
                    try {
                        let responseText = xhr.responseText.substr(0, xhr.responseText.indexOf('}') + 1);
                        responseJson = JSON.parse(responseText);
                    } catch (e) { }
                }

                if (responseJson && responseJson.ErrorKey && responseJson.ErrorMessage) {
                    if (responseJson.ErrorKey == "unauthorized" || xhr.status == 401) {
                        const urlRef = responseJson.ExtraData;
                        setTimeout(() => window.parent.location.href = urlRef, 3000);
                        window.parent.toastr.error(responseJson.ErrorMessage);
                    }
                    else if (responseJson.ErrorKey == "forbidden" || xhr.status == 403) {
                        window.parent.location.href = "/Report/ErrorHandle.aspx?errorCode=403";
                    }
                    else {
                        window.parent.toastr.error(responseJson.ErrorMessage);
                    }
                }
                else if (responseJson && responseJson.d) {
                    try {
                        const data = JSON.parse(responseJson.d);

                        if (data.Key && data.Message) {
                            if (data.Key.includes("no_changes"))
                                window.parent.toastr.info(data.Message);
                            else if (data.Key.includes("warning"))
                                window.parent.toastr.warning(data.Message);
                            else if (data.Key.includes("error"))
                                window.parent.toastr.error(data.Message);
                            else
                                window.parent.toastr.success(data.Message);
                        }
                    } catch (e) { }
                } else if (xhr.status == 500) {
                    window.parent.toastr.error("Unexpected Internal Error");
                }
                notifyHideLoader();
            });

            $(document).ajaxError((XMLHttpRequest) => {
                $('.dataTables_processing').attr('style', 'display: none;');
                $('.dataTables_wrapper').removeClass('processing');
            });

            $('.submit-with-loader').on('click touchstart', (e) => isFirstLoading = true);
        });

        const checkSuccess = (data, key) => {
            try {
                const respJson = JSON.parse(data.d);
                return respJson.Key == key;
            } catch (e) {
                return false;
            }
        };

        const isSuccess = (data) => (data.d) ? true : false;

        const checkError = (data, key) => data.responseJSON.ErrorKey == key;

        const getExtraData = (data) => {
            try {
                const respJson = JSON.parse(data.d);
                return respJson.ExtraData;
            } catch (e) {
                return "";
            }
        };

        let csrfSafeMethod = (method) => (/^(GET|HEAD|OPTIONS)$/.test(method));

        

    </script>

<style>
    .trAgent{
        color:#ffffff !important;
        background-color:#0e1726;
        --bs-table-color: #ffffff !important;
    }
</style>
</body>
</html>
