@font-face {
  font-family: 'Mechanic';
  src: url("../fonts/Industry-Medium-webfont.woff2") format("woff2"), url("../fonts/Industry-Medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}